# Data directory
iidx_state_reco/data/
iidx_score_reco/data/
# Unused state machine dir
iidx_stream_state_machine
# Claude files
**/.claude/
.vscode/
# **/CLAUDE.md

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so